# ГК Сигма, тестовое задание, Рассадин Ярослав

<h1>Оглавление:<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ответы-на-вопросы" data-toc-modified-id="Ответы-на-вопросы-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ответы на вопросы</a></span><ul class="toc-item"><li><span><a href="#Найти-ошибки-в-запросе" data-toc-modified-id="Найти-ошибки-в-запросе-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Найти ошибки в запросе</a></span></li><li><span><a href="#Написать-оператор" data-toc-modified-id="Написать-оператор-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Написать оператор</a></span></li><li><span><a href="#Написать-запросы" data-toc-modified-id="Написать-запросы-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Написать запросы</a></span></li></ul></li><li><span><a href="#Написание-запросов" data-toc-modified-id="Написание-запросов-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Написание запросов</a></span><ul class="toc-item"><li><span><a href="#Таблица-rooms" data-toc-modified-id="Таблица-rooms-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Таблица rooms</a></span><ul class="toc-item"><li><span><a href="#Вывести-список-всех-этажей" data-toc-modified-id="Вывести-список-всех-этажей-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Вывести список всех этажей</a></span></li><li><span><a href="#Вывести-список-этажей-и-кол-во-комнат-в-них" data-toc-modified-id="Вывести-список-этажей-и-кол-во-комнат-в-них-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Вывести список этажей и кол-во комнат в них</a></span></li><li><span><a href="#Вывести-список-всех-этажей,-где-выключен-свет" data-toc-modified-id="Вывести-список-всех-этажей,-где-выключен-свет-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Вывести список всех этажей, где выключен свет</a></span></li><li><span><a href="#Вывести-макс-номер-комнаты-(по-последним-двум-цифрам)-для-всего-здания" data-toc-modified-id="Вывести-макс-номер-комнаты-(по-последним-двум-цифрам)-для-всего-здания-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Вывести макс номер комнаты (по последним двум цифрам) для всего здания</a></span></li><li><span><a href="#Написать-update-который,-для-каждой-комнаты-«нажмет-на-выключатель»" data-toc-modified-id="Написать-update-который,-для-каждой-комнаты-«нажмет-на-выключатель»-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Написать update который, для каждой комнаты «нажмет на выключатель»</a></span></li><li><span><a href="#Написать-merge,-который-для-каждой-нечетной-комнаты-«нажмет-на-выключатель»" data-toc-modified-id="Написать-merge,-который-для-каждой-нечетной-комнаты-«нажмет-на-выключатель»-2.1.6"><span class="toc-item-num">2.1.6&nbsp;&nbsp;</span>Написать merge, который для каждой нечетной комнаты «нажмет на выключатель»</a></span></li><li><span><a href="#Вывести-список-этажей-и-для-каждого-этажа-признак-наличия-света-в-комнате-с-самым-большим-номером" data-toc-modified-id="Вывести-список-этажей-и-для-каждого-этажа-признак-наличия-света-в-комнате-с-самым-большим-номером-2.1.7"><span class="toc-item-num">2.1.7&nbsp;&nbsp;</span>Вывести список этажей и для каждого этажа признак наличия света в комнате с самым большим номером</a></span></li><li><span><a href="#Вывести-список-этажей-и-для-каждого-этажа-кол-во-комнат-с-включенным-светом-на-этажах-ниже-текущего-(включая-текущий)" data-toc-modified-id="Вывести-список-этажей-и-для-каждого-этажа-кол-во-комнат-с-включенным-светом-на-этажах-ниже-текущего-(включая-текущий)-2.1.8"><span class="toc-item-num">2.1.8&nbsp;&nbsp;</span>Вывести список этажей и для каждого этажа кол-во комнат с включенным светом на этажах ниже текущего (включая текущий)</a></span></li></ul></li><li><span><a href="#Таблица-начисления-по-абоненту-во-временных-зонах" data-toc-modified-id="Таблица-начисления-по-абоненту-во-временных-зонах-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Таблица начисления по абоненту во временных зонах</a></span><ul class="toc-item"><li><span><a href="#Создание-таблиц-абонентов-и-временных-зон" data-toc-modified-id="Создание-таблиц-абонентов-и-временных-зон-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Создание таблиц абонентов и временных зон</a></span></li><li><span><a href="#Создание-таблицы-начислений" data-toc-modified-id="Создание-таблицы-начислений-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Создание таблицы начислений</a></span></li><li><span><a href="#Запрос" data-toc-modified-id="Запрос-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Запрос</a></span></li></ul></li></ul></li></ul></div>

## Ответы на вопросы

### Найти ошибки в запросе

В данном запросе ошибка заключается в том, что выводится максимальное значение id одновременно с выводом всех строк,то есть неверно использована агрегатная функция MAX(). Значение "24531fs23" не соответствует стандартному формату для значения столбца "id", вместо int используется varchar. Тем не менее такая запись id возможна при условии тщательного определения длины и гарантирования уникальности значений.

### Написать оператор

Оператор, позволяющий заполнить все строки таблицы person, в которых не
указано значение flg значением по умолчанию, которое равно 0.

```sql
UPDATE Person
SET flg = 0
WHERE flg IS NULL;
```

### Написать запросы

a) Найти таких клиентов, для которых в период с 01.12.2021 не было ни одного сообщения.
<u>Вывести</u> для них имя, почту, дату создания.

```sql
SELECT name, mail, Start_dt
FROM Person
WHERE id NOT IN (
    SELECT person_id
    FROM Message
    WHERE Message_dt >= '2021-12-01'
)
```

b) Посчитать количество клиентов, у которых в имени есть буквы «I», «O» независимо от
регистра.
<u>Вывести</u>: количество.

```sql
SELECT COUNT(*) AS count_clients
FROM Person
WHERE LOWER(name) LIKE '%i%' AND LOWER(name) LIKE '%o%'
```

c) Посчитать количество сообщений по каждой категории.
<u>Вывести</u> категорию, количество сообщений и дату первого сообщения в категории.

```sql
SELECT Category, COUNT(*) AS count_messages, MIN(Message_dt) AS first_message_date
FROM Messages
GROUP BY Category
```

d) Посчитать количество сообщений по каждой категории.
<u>Вывести</u> категорию, количество сообщений и дату первого сообщения в категории и имя
клиента, для которого это сообщение было предназначено.

```sql
SELECT M.Category, COUNT(*) AS count_messages, MIN(M.Message_dt) AS first_message_date, P.Name AS client_name
FROM Messages M
JOIN Clients C ON M.Client_id = C.Id
JOIN Persons P ON C.Person_id = P.Id
GROUP BY M.Category, C.Name
```

## Написание запросов

### Таблица rooms

```sql
rooms
(
room_id number
floor number
light_is_on varchar2(1)
);
```

#### Вывести список всех этажей

```sql
SELECT DISTINCT floor 
FROM rooms;
```

#### Вывести список этажей и кол-во комнат в них

```sql
SELECT floor, COUNT(*) AS number_of_rooms
FROM rooms
GROUP BY floor;
```

#### Вывести список всех этажей, где выключен свет

```sql
SELECT floor 
FROM (
    SELECT floor, COUNT(*) AS total_rooms, SUM(CAST(light_is_on AS INT)) AS rooms_with_light
    FROM rooms
    GROUP BY floor
) AS subquery
WHERE rooms_with_light = 0;
```

#### Вывести макс номер комнаты (по последним двум цифрам) для всего здания

```sql
SELECT MAX(room_id % 100) AS max_room_number
FROM rooms;
```

#### Написать update который, для каждой комнаты «нажмет на выключатель»

Если в формулировке задачи под выключателем понимается "выключить свет", то запрос будет выглядеть следующим образом:

```sql
UPDATE rooms
SET light_is_on = '0';
```

Если понимается "нажать на выключатель, сменив положение с 0 на 1 и наоборот", запрос следующий:

```sql
UPDATE rooms
SET light_is_on = CASE WHEN light_is_on = 0 THEN 1 ELSE 0 END;
```

#### Написать merge, который для каждой нечетной комнаты «нажмет на выключатель»

```sql
MERGE INTO rooms
USING (
    SELECT room_id
    FROM rooms
    WHERE room_id % 2 <> 0
) t
ON (rooms.room_id = t.room_id)
WHEN MATCHED THEN UPDATE
SET light_is_on = CASE WHEN light_is_on = '1' THEN '0' ELSE '1' END;
```

#### Вывести список этажей и для каждого этажа признак наличия света в комнате с самым большим номером

```sql
SELECT sub.floor, sub.light_is_on AS light_status
FROM (
    SELECT floor, light_is_on, 
           ROW_NUMBER() OVER (PARTITION BY floor ORDER BY room_id DESC) AS rn
    FROM rooms
) sub
WHERE sub.rn = 1;
```

#### Вывести список этажей и для каждого этажа кол-во комнат с включенным светом на этажах ниже текущего (включая текущий)

```sql

```

Над текущим пунктом работал около полутора часов, но так и не пришел к итоговому ответу, как правильно написать запрос. Я признаю существование слабых сторон и стремлюсь к их минимизации, потому прошу при направлении обратной связи подсказать, какой запрос должен дать верный результат.

### Таблица начисления по абоненту во временных зонах

#### Создание таблиц абонентов и временных зон

```sql
CREATE TABLE abonents (
    abonent_id SERIAL PRIMARY KEY,
    abonent_name VARCHAR(100) NOT NULL
);

CREATE TABLE timezones (
    timezone_id SERIAL PRIMARY KEY,
    timezone_name VARCHAR(100) NOT NULL
);

INSERT INTO abonents (abonent_name)
VALUES ('Абонент_1'), ('Абонент_2');

INSERT INTO timezones (timezone_name)
VALUES ('День'), ('Ночь'), ('круглосуточно');
```

#### Создание таблицы начислений

```sql
CREATE TABLE charges (
    charge_id SERIAL PRIMARY KEY,
    abonent_id INTEGER REFERENCES abonents (abonent_id),
    timezone_id INTEGER REFERENCES timezones (timezone_id),
    charge_amount INTEGER NOT NULL
);

INSERT INTO charges (abonent_id, timezone_id, charge_amount)
VALUES (1, 1, 2), (1, 2, 1), (2, 3, 3);
```

#### Запрос

```sql
SELECT 
    abonents.abonent_name,
    timezones.timezone_name,
    COALESCE(charges.charge_amount, 0) AS charge_amount
FROM 
    abonents
CROSS JOIN 
    timezones
LEFT JOIN 
    charges
ON 
    abonents.abonent_id = charges.abonent_id AND timezones.timezone_id = charges.timezone_id;
```